## 📅 2025-06-18 20:44:15
**Q:** What are Huffman trees?  
**📚 Source(s):** DAA Unit-3.pdf, DAA Unit-3.pdf, DAA Unit-3.pdf  
**🤖 Answer:** Huffman trees are a lossless data compression algorithm. The idea is to assign variable-length codes to input characters, lengths of the assigned codes are based on the frequencies of corresponding characters. The idea is to assign variable-length codes to input characters, lengths of the assigned codes are based on the frequencies of corresponding characters. The idea is to assign variable-length codes to input characters, lengths of the assigned codes are based on the frequencies of corresponding characters.

---
## 📅 2025-06-18 21:39:16
**Q:** What is a Graph?

**📚 Source(s):** Unit-V.pdf

**🤖 Answer:** Graph is a collection of vertices and arcs which connects vertices in the graph.

---

